<h1>QuestionsController#ask</h1>
<p>Find me in app/views/questions_controller/ask.html.erb</p>


<div class="wrapper">
  <div class="container monform">
    <div class="form-group form-inline">
      <form action="/answer" method="GET">
        <label for name= "question">Saisissez votre question</label>
        <input type="text" placeholder="Votre question" name="question" class="form-control"/>
        <input type="submit" class="btn btn-primary" value="Ask">
      </form>
    </div>
  </div>
</div>
